#ChatContainer {
    display: flex;
    flex: 7;
    background: #cc7abe;
    flex-direction: column;
}

#ReciverHeader {
    background: #fff;
    flex: 1;
    max-height: 70px;
    padding: 5px;
}

#UserAvtar_Div {
    padding: 5px
}

#ChatArea {
    background: #13f3f3;
    flex: 3;
}

#SendContainer {
    background: #1303a3;
    flex: 1;
}

#ReciverName {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 28px
}

#ChatBubble {
    background: #a3b3c3;
    display: flex;
    flex-direction: column;
    max-height: 60px;
    min-width: 200px;
    max-width: 600px;
}